{% layout = "layouts/base.html" %}

{-header-}
  {(partials/header.html)}
{-header-}

{-main-}
  <div class="app-container">
    <div class="authentication">
      <form id="login">
          <label for="username">Email</label>
          <input id="username" type="text" name="username" required />
          <label for="password">Password</label>
          <input id="password" type="password" name="password" required />
          <button
            id="login-button"
            class="button button-primary"
            type="submit">Login</button>
          <a class="forgot-password" href="{{kong.config.PORTAL_GUI_URL}}/reset-password">Forgot Password?</a>
      </form>
    </div>
  </div>
{-main-}

{-footer-}
  {(partials/footer.html)}
{-footer-}
