<div id="sidebar">
  <div class="sidebar-menu">
    <div class="sidebar-list">
      <ul>
        <li class="list-title">Getting Started</li>
        <li><a href="/guides/kong-ee-introduction">Introduction</a></li>
        <li><a href="/guides/5-minute-quickstart">5 Minute guide to Kong EE</a></li>
      </ul>
    </div>
     <div class="sidebar-list">
      <ul>
      <ul>
        <li class="list-title">Customization</li>
        <li><a href="/guides/uploading-spec">Uploading Spec File</a></li>
      </ul>
      <ul>
    </div>
     <div class="sidebar-list">
      <ul>
        <li class="list-title">Guides</li>
        <li><a href="/guides/kong-architecture-overview">Kong Architecture</a></li>
        <li><a href="/guides/kong-vitals">Intro to Kong Vitals</a></li>
      </ul>
    </div>
  </div>
</div>
