{{#> unauthenticated/layout pageTitle="Login" }}

  {{#*inline "content-block"}}

    <div class="authentication">
      {{#unless authData.authType}}
        <h1>404 - Not Found</h1>
      {{/unless}}
      {{#if authData.authType}}
        <h1>Login</h1>
        <form id="login">
          {{#if (eq authData.authType 'basic-auth')}}
            <label for="username">Email</label>
            <input id="username" type="text" name="username" required="">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required="">
            <button id="login-button" class="button button-primary" type="submit">Login</button>
            <a class="forgot-password" href="{{config.PORTAL_GUI_URL}}/reset-password">Forgot Password?</a>
          {{/if}}
          {{#if (eq authData.authType 'key-auth')}}
            <label for="key">Api Key</label>
            <input id="key" type="text" name="key" required="">
            <button id="login-button" class="button button-primary" type="submit">Login</button>
            <a class="forgot-password" href="{{config.PORTAL_GUI_URL}}/reset-password">Forgot Key?</a>
          {{/if}}

          {{#if (eq authData.authType 'openid-connect')}}
            <button id="login-button" class="button button-primary" type="submit">Sign In</button>
          {{/if}}
        </form>
      {{/if}}
    </div>

    {{/inline}}
    ß
    {{/unauthenticated/layout}}

    <!-- Autofill email field from UTM parameter -->
    <script>
      "use strict";

      function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
          vars[key] = value;
        });
        return vars;
      }

      function getUrlParam(parameter, defaultvalue) {
        var urlparameter = defaultvalue;

        if (window.location.href.indexOf(parameter) > -1) {
          urlparameter = getUrlVars()[parameter];
        }

        return urlparameter;
      }

      var usernameEl = document.getElementById('username');

      if (usernameEl) {
        usernameEl.value = getUrlParam('email', '');
      }
    </script>

    <script>
      "use strict";

      document.getElementById('login').addEventListener('submit', function(e) {
        e.preventDefault();
      });
    </script>

    <style lang="scss">
      .forgot-password {
        margin: 32px auto;
        text-align: center;
      }
    </style>