{{#> unauthenticated/layout pageTitle="Register" }}

{{#*inline "content-block"}}
<div class="authentication">
  {{#unless authData.authType}}
      <h1>404 - Not Found</h1>
  {{/unless}}
  {{#if authData.authType}}
    {{> unauthenticated/registration-form-vue }}
  {{/if}}
</div>
{{/inline}}

{{/unauthenticated/layout}}
