<a
  href="{{string.sub(route, 2)}}"
  data-tags="{% for _, tag in pairs(parsed.tags or {}) do %}{{tag.name:lower()}},{% end %}"
  class="catalog-item toggle-content is-visible">
  <div class="catalog-logo">
    {{parsed.info.title:sub(0,2)}}
  </div>

  <div class="catalog-details">
    <h5 class="catalog-title">{{parsed.info.title}}</h5>

    {% if parsed.info.description then %}
      <p class="catalog-desc">{{parsed.info.description}}</p>
    {% end %}

    {% if parsed.info.version then %}
      <small class="catalog-version">v{{parsed.info.version}}</small>
    {% end %}

    {% if tags then %}
      {% for _, tag in each(tags) do %}
        <small class="catalog-tag">{{tag.name}}</small>
      {% end %}
    {% end %}
  </div>
</a>
