<section class="catalog-list">
  {% if #specs > 0 then %}
    {% for _, spec in each(specs) do %}
      {# You can expose any spec properties by adding them to the table below #}
      {# If you want to enable frontend search on these fields, please update the updateSearchParams #}
      {# function arguments in sidebar.html #}
      {% spec.json = json_encode({ info = spec.parsed.info, tags = spec.parsed.tags or {} }) %}
      {(partials/service-catalog/item.html, spec)}
    {% end %}
  {% else %}
    <div class="catalog-list__no-results">
      <h4>{{ l("catalog_no_results_header", "Nothing Found, Sorry") }}</h4>
    </div>
  {% end %}
</section>

<div class="catalog-list__no-results toggle-content">
  <h4>{{ l("catalog_no_results_header", "Nothing Found, Sorry") }}</h4>
  <p>{{ l("catalog_no_results_content", "No services matched your criteria.") }}</p>
</div>
