{% if not page.hide_categories then %}
<section class="catalog-sidebar">
  <div class="catalog-categories-component">
    <h1>{{ l("catalog_categories_header_text", "Category Filter") }}</h1>

    {% for tag, count in each(tags) do %}
    <a data-tag="{{ tag:lower() }}" class="tag-link">
      <span class="tag-link--name">{{ tag }}</span>
      <span class="tag-link--count">{{ count }}</span>
    </a>
    {% end %}
  </div>
</section>
{% end %}


<script type="text/javascript">
  window.addEventListener("load", function () {
    var $CATALOG_TAG_LINKS = $(".tag-link");
    var $CATALOG_ITEMS = $(".catalog-item");
    var $CATALOG_FILTER_INPUT = $(".catalog-filter");
    var $CATALOG_LIST_NO_RESULTS = $(".catalog-list__no-results");

    var searchParams = {
      activeTag: null,
      phrase: "",
    };

    var catalogItems = [];
    $CATALOG_ITEMS.each(function (index, element) {
      var data = $(element).data("json");
      var tags = Object.keys(data.tags || {}).map(function (key) {
        return data.tags[key].name.toLowerCase();
      });

      catalogItems.push({
        data: data,
        tags: tags,
        element: element,
      });
    });

    var categories = {};
    $CATALOG_TAG_LINKS.each(function (index, element) {
      var tag = $(element).data("tag");
      var countElement = $(element).find(".tag-link--count");

      categories[tag] = {
        tag: tag,
        element: element,
        countElement: countElement,
        count: parseInt(countElement.text(), 10),
      };
    });

    var filteredCatalogItems = catalogItems;

    function updateCategoriesDOM() {
      Object.keys(categories).forEach(function (key) {
        var category = categories[key];

        $(category.countElement).text(category.count);

        if (category.tag === searchParams.activeTag) {
          $(category.element).addClass("is-active");
        } else {
          $(category.element).removeClass("is-active");
        }
      })
    }

    function updateItemsDOM() {
      catalogItems.forEach(function (catalogItem) {
        $(catalogItem.element).removeClass("is-visible");
        $(catalogItem.element).css("order", "initial");
      })

      filteredCatalogItems.forEach(function (filteredItem, index) {
        $(filteredItem.element).addClass("is-visible");
        $(filteredItem.element).css("order", index + 1);
      });

      if (filteredCatalogItems.length === 0) {
        $CATALOG_LIST_NO_RESULTS.show();
      } else {
        $CATALOG_LIST_NO_RESULTS.hide();
      }
    }

    function updateDOM() {
      updateCategoriesDOM();
      updateItemsDOM();
    }

    function updateSearchParams(obj) {
      if (obj.hasOwnProperty("activeTag")) {
        searchParams.activeTag = obj.activeTag;
      }

      if (obj.hasOwnProperty("phrase")) {
        searchParams.phrase = obj.phrase;
      }

      var phrase = searchParams.phrase;
      // Start searching when phrase has at least 3 characters
      if (phrase.length < 3) {
        phrase = "";
      }

      // You can provide any keys to search specs by as long as they're included in the item's data-json attribute
      // See service-catalog/item.html and Kong.Utils.searchSimilar docs for more details
      filteredCatalogItems = Kong.Utils.searchSimilar(
        catalogItems,
        phrase,
        {
          keys: [
            {
              key: "data.info.title",
              weight: 3,
            },
            {
              key: "data.info.description",
            },
            {
              key: "data.tags",
              weight: 2,
            },
          ],
          threshold: 1,
        }
      );

      // Update category results count before filtering out catalog items by tag
      Object.keys(categories).forEach(function (key) {
        var category = categories[key];

        category.count = filteredCatalogItems.filter(function (item) {
          return item.tags.indexOf(category.tag) !== -1;
        }).length;
      });

      // Filter out catalog items not having the selected tag
      if (searchParams.activeTag) {
        filteredCatalogItems = filteredCatalogItems.filter(function (item) {
          return item.tags.indexOf(searchParams.activeTag) !== -1;
        })
      }

      updateDOM();
    }

    function onClickCategory (event) {
      event.preventDefault();

      var target = $(this);
      var tag = target.data("tag");

      if (searchParams.activeTag === tag) {
        // Unset the tag if it's active
        updateSearchParams({
          activeTag: null,
        });
      } else {
        updateSearchParams({
          activeTag: tag,
        })
      }
    };

    function onInputFilter () {
      var value = $CATALOG_FILTER_INPUT.val();

      updateSearchParams({
        phrase: value,
      });
    };

    $(document).on("click", ".tag-link", onClickCategory);

    $CATALOG_FILTER_INPUT.on(
      "keydown",
      Kong.Utils.debounce(function() {
        onInputFilter();
      }, 80)
    );
  });
</script>
