{% if not page.hide_categories then %}
<section class="catalog-sidebar">
  <div class="catalog-categories-component">
    <h1>{{ l("catalog_categories_header_text", "Category Filter") }}</h1>

    {% for tag, count in each(tags) do %}
    <a data-tag="{{ tag:lower() }}" class="tag-link">
      <span class="tag-link--name">{{ tag }}</span>
      <span class="tag-link--count">{{ count }}</span>
    </a>
    {% end %}
  </div>
</section>
{% end %}


<script type="text/javascript">
  window.addEventListener("load", function () {
    var tagLinkElements = document.querySelectorAll(".tag-link");
    var catalogItemElements = document.querySelectorAll(".catalog-item");
    var filterInputElement = document.querySelector(".catalog-filter");
    var noResultsElement = document.querySelector(".catalog-list__no-results");

    var searchParams = {
      activeTag: null,
      phrase: "",
    };

    var catalogItems = [];
    Array.prototype.forEach.call(catalogItemElements, function (element) {
      var data = JSON.parse(element.dataset.json);
      var tags = Object.keys(data.tags || {}).map(function (key) {
        return data.tags[key].name.toLowerCase();
      });

      catalogItems.push({
        data: data,
        tags: tags,
        element: element,
      });
    });

    var categories = {};
    Array.prototype.forEach.call(tagLinkElements, function (element) {
      var tag = element.dataset.tag;
      var countElement = element.querySelector(".tag-link--count");

      categories[tag] = {
        tag: tag,
        element: element,
        countElement: countElement,
        count: parseInt(countElement.innerText, 10),
      };

      element.addEventListener("click", onClickCategory);
    });

    var filteredCatalogItems = catalogItems;

    function updateCategoriesDOM() {
      Object.keys(categories).forEach(function (key) {
        var category = categories[key];

        category.countElement.innerText = category.count;

        if (category.tag === searchParams.activeTag) {
          category.element.classList.add("is-active");
        } else {
          category.element.classList.remove("is-active");
        }
      })
    }

    function updateItemsDOM() {
      catalogItems.forEach(function (catalogItem) {
        catalogItem.element.classList.remove("is-visible");
        catalogItem.element.style.order = "initial";
      })

      filteredCatalogItems.forEach(function (filteredItem, index) {
        filteredItem.element.classList.add("is-visible");
        filteredItem.element.style.order = index + 1;
      });

      if (filteredCatalogItems.length === 0) {
        noResultsElement.style.display = "block";
      } else {
        noResultsElement.style.display = "none";
      }
    }

    function updateDOM() {
      updateCategoriesDOM();
      updateItemsDOM();
    }

    function updateSearchParams(obj) {
      if (obj.hasOwnProperty("activeTag")) {
        searchParams.activeTag = obj.activeTag;
      }

      if (obj.hasOwnProperty("phrase")) {
        searchParams.phrase = obj.phrase;
      }

      var phrase = searchParams.phrase;
      // Start searching when phrase has at least 3 characters
      if (phrase.length < 3) {
        phrase = "";
      }

      // You can provide any keys to search specs by as long as they're included in the item's data-json attribute
      // See service-catalog/item.html and Kong.Utils.searchSimilar docs for more details
      filteredCatalogItems = Kong.Utils.searchSimilar(
        catalogItems,
        phrase,
        {
          keys: [
            {
              key: "data.info.title",
              weight: 3,
            },
            {
              key: "data.info.description",
            },
            {
              key: "data.tags",
              weight: 2,
            },
          ],
          threshold: 1,
        }
      );

      // Update category results count before filtering out catalog items by tag
      Object.keys(categories).forEach(function (key) {
        var category = categories[key];

        category.count = filteredCatalogItems.filter(function (item) {
          return item.tags.indexOf(category.tag) !== -1;
        }).length;
      });

      // Filter out catalog items not having the selected tag
      if (searchParams.activeTag) {
        filteredCatalogItems = filteredCatalogItems.filter(function (item) {
          return item.tags.indexOf(searchParams.activeTag) !== -1;
        })
      }

      updateDOM();
    }

    function onClickCategory (event) {
      event.preventDefault();

      var tag = event.target.dataset.tag;

      if (searchParams.activeTag === tag) {
        // Unset the tag if it's active
        updateSearchParams({
          activeTag: null,
        });
      } else {
        updateSearchParams({
          activeTag: tag,
        })
      }
    }

    function onInputFilter (event) {
      var value = event.target.value;

      updateSearchParams({
        phrase: value,
      });
    }

    filterInputElement.addEventListener("keydown", Kong.Utils.debounce(onInputFilter, 80));
  });
</script>
