{{#> unauthenticated/layout pageTitle="Invalidate Account Verification" }}

  {{#*inline "content-block"}}
    <div class="app-container">
      <div id="portal-dashboard" class="page-wrapper indent" page="invalidate-account-verification"></div>
    </div>
  {{/inline}}

{{/unauthenticated/layout}}
