<a
  data-tags="{% for _, tag in pairs(tags or {}) do %}{{tag.name:lower()}},{% end %}"
  class="catalog-item toggle-content is-visible">
  <div class="catalog-logo">
    {{info.title:sub(0,2)}}
  </div>

  <div class="catalog-details">
    <h5 class="catalog-title">{{info.title}}</h5>

    {% if info.description then %}
      <p class="catalog-desc">{{info.description}}</p>
    {% end %}

    {% if info.version then %}
      <small class="catalog-version">v{{info.version}}</small>
    {% end %}

    {% if tags then %}
      {% for _, tag in pairs(tags) do %}
        <small class="catalog-tag">{{tag.name}}</small>
      {% end %}
    {% end %}
  </div>
</a>
