{% layout = "layouts/_page.html" %}

{-content-}
  <div class="auth-page">
    <section class="left-pane">
      <div class="inner">
        <h3>{* l("register_form_header", "Register") *}</h3>
        <p>{* l("register_form_content", "Enter your information below to create an account.") *}</p>

        {% if portal.auth == 'basic-auth' then %}
          {(partials/auth/forms/register/basic-auth.html, context)}
        {% end %}

        {% if portal.auth == 'key-auth' then %}
          {(partials/auth/forms/register/key-auth.html, context)}
        {% end %}

        {% if portal.auth == 'openid-connect' then %}
          {(partials/auth/forms/register/oidc.html, context)}
        {% end %}

        <p>
          {* l("register_login_text", "Already have an account?") *}
          <a href="login">{* l("register_login_link_text", "Login here") *}</a>.
        </p>

        <p><a href="">{* l("register_home_link_text", "← Go back home") *}</a></p>
      </div>
    </section>

    <section class="right-pane">
      <div class="inner">
        <img src="assets/images/auth-placeholder.svg" />
        <h4>{* l("register_side_header", "") *}</h4>
        <p>{* l("register_side_content", "") *}</p>
      </div>
    </section>
  </div>
{-content-}
