
{% layout = "layouts/_app.html" %}

{-content-}
  <div class="auth-page">
    <section class="left-pane">
      <div class="inner">
        <div id="portal-dashboard" page="reset-password"></div>

        <style>
        .modal-footer {
          padding: 15px 0 0 !important
        }

        .modal-footer button,
        .table-header button {
          padding: 0 30px !important;
        }
        </style>
      </div>
    </section>

    <section class="right-pane">
      <div class="inner">
        <img src="assets/images/auth-placeholder.svg" />
        <h4>{* l("reset_password_side_header", "") *}</h4>
        <p>{* l("reset_password_side_content", "") *}</p>
      </div>
    </section>
  </div>
{-content-}
