{{#> unauthenticated/layout pageTitle="Reset Password" }}

  {{#*inline "content-block"}}
    <div class="app-container">
      <div id="portal-dashboard" class="page-wrapper indent" page="reset-password"></div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
    <script src="/js/dashboard.min.js"></script>
  {{/inline}}

{{/unauthenticated/layout}}
