<section class="homepage-clients">
  <h2>You're in Good Company</h2>
  <p>
    Developers from all industries use our platform to build integrations and
    custom applications.
  </p>
  <ul class="client-list">
    <li class="client">
      <a href="javascript:void(0);">COMPANY</a>
    </li>
    <li class="client">
      <a href="javascript:void(0);">COMPANY</a>
    </li>
    <li class="client">
      <a href="javascript:void(0);">COMPANY</a>
    </li>
    <li class="client">
      <a href="javascript:void(0);">COMPANY</a>
    </li>
    <li class="client">
      <a href="javascript:void(0);">COMPANY</a>
    </li>
    <li class="client">
      <a href="javascript:void(0);">COMPANY</a>
    </li>
  </ul>
</section>
