{{#> layout pageTitle="Dev Portal - About" }}

  {{#*inline "content-block"}}
    <div class="app-container">
      <div class="page-wrapper indent">
        <h1>About</h1>
        <p>This is a sample page. You can delete it or modify it to suit your needs.</p>
      </div>
    </div>
  {{/inline}}

{{/layout}}
