<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <h1 class="brand">{{site.title or theme.title}}</h1>
      </div>

      <nav class="eight columns">
        <a class="nav-link" href="/documentation">Service Catalog</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/guides">Tutorials</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-button btn" href="/register">Sign Up</a>
      </nav>
    </div>
  </div>
</header>
