{# /!\ REQUIRED SCRIPTS. REMOVE / EDIT AT OWN RISK. /!\ #}
<script src="assets/js/third-party/jquery.min.js"></script>
<script src="assets/js/kong/kong.js"></script>
<script src="assets/js/kong/kong.utils.js"></script>
<script src="assets/js/kong/kong.auth.js"></script>

{# /!\ REQUIRED SCRIPTS. REMOVE / EDIT AT OWN RISK. /!\ #}
<script src="assets/js/app-{{portal.app_version}}.min.js"></script>
{# /!\ REQUIRED SCRIPTS. REMOVE / EDIT AT OWN RISK. /!\ #}

<script>
  // Build API url when not set
  // /!\ If using subdomains, please set PORTAL_API_URL in `kong.conf`. /!\
  window.Kong.getApiUrl = window.Kong.Utils.getApiUrl = function () {
    const API_PORT = window.location.protocol.toLowerCase() === 'https:'
      ? '{*portal.api_ssl_port*}'
      : '{*portal.api_port*}'

    let url = "{*portal.api_url*}"
    if (!url) {
      url = `${window.location.protocol}//${window.location.hostname}:${API_PORT}`
      url += `/{*portal.workspace*}`
    }

    return url
  }

  // Get portal authentication type
  window.Kong.Utils.getAuthType = function() {
    return "{{portal.auth}}"
  }

  window.Kong.Utils.getWorkspace = function() {
    return "{{portal.workspace}}"
  }

</script>
{# /!\ REQUIRED SCRIPTS. REMOVE / EDIT AT OWN RISK. /!\ #}
