<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

{% if theme.font("base") then %}
  <link href="https://fonts.googleapis.com/css?family={{theme.font('base')}}:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
{% end %}
{% if theme.font("code") ~= theme.font("base") then %}
  <link href="https://fonts.googleapis.com/css?family={{theme.font('code')}}:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
{% end %}
{% if theme.font("headings") ~= theme.font("base") then %}
  <link href="https://fonts.googleapis.com/css?family={{theme.font('headings')}}:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
{% end %}

<style>
  /* Values */
  :root {
    {% for k, v in each(theme.colors) do %}
      --{{k}}: {{v}};
    {% end %}
  }

  /* Utilities */
  {% for k, v in each(theme.colors) do %}
  .color-{{k}} {
    color: var(--{{k}});
  }

  .bg-{{k}} {
    background-color: var(--{{k}});
  }
  {% end %}

  /* Font Families */
  body {
    font-family: "{{theme.font('base')}}", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  pre,code,kbd {
    font-family: inherit;
    font-family: "{{theme.font('code')}}";
  }
  h1, h2, h2, h3, h4, h5, h6 {
    font-family: "{{theme.font('headings')}}", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
</style>
