<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <h1 class="brand"><a href=""><img class="logo" src="{{theme.images.logo}}" alt="{{portal.name}}" /></a></h1>
        <div class="menu-toggle">
          <label for="header_nav">Menu</label>
        </div>
      </div>

      <input type="checkbox" id="header_nav" class="menu-toggle-checkbox" />
      <nav class="eight columns" role="navigation" aria-label="Header Navigation">
          {% if portal.auth and portal.auth ~= "" then %}
            {% context.local_menu = portal.menu %}
          {% else %}
            {% context.local_menu = portal.menu_no_auth   %}
          {% end %}

          {(partials/menu.html)}

      </nav>
    </div>
  </div>
</header>
