{{#> unauthenticated/layout pageTitle="DevPortal"}}
  {{#*inline "content-block"}}

    <div class="app-container">
      {{> unauthenticated/spec/index-vue }}
    </div>

  {{/inline}}
{{/unauthenticated/layout}}
