{{#> unauthenticated/layout pageTitle="Register" }}

{{#*inline "content-block"}}
<div class="authentication">
  {{#unless authData.authType}}
      <h1>404 - Not Found</h1>
  {{/unless}}
  {{#if authData.authType}}
    <h1>Request Access</h1>
    <div class="alert alert-info">
      <b>Please fill out the below form and we will notify you once your request gets approved.</b>
    </div>
    <form id="register">
      {{> unauthenticated/registration-fields-vue}}
      <button class="button button-primary" type="submit">Sign Up</button>
    </form>
  {{/if}}
</div>
{{/inline}}



{{/unauthenticated/layout}}

<!-- Autofill email field from UTM parameter -->
<script>
  function getUrlVars() {
    var vars = {}
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
      vars[key] = value
    })
    return vars
  }

  function getUrlParam(parameter, defaultvalue){
    var urlparameter = defaultvalue;
    if(window.location.href.indexOf(parameter) > -1){
      urlparameter = getUrlVars()[parameter];
    }
    return urlparameter;
  }
  //document.getElementById('email').value = getUrlParam('email', '')
</script>

<script>
  document.getElementById('register').addEventListener('submit', e => { e.preventDefault() })
</script>