{{#> unauthenticated/layout pageTitle="Reset Password" }}

  {{#*inline "content-block"}}
    <div class="app-container">
      <div id="portal-dashboard" class="page-wrapper indent" page="reset-password"></div>
    </div>
  {{/inline}}

{{/unauthenticated/layout}}
