{{#> layout pageTitle="Dev Portal - 5 Minute Quickstart" }}

  {{#* inline "content-block"}}
    <div class="app-container">
      <div class="container">
        {{> guides/sidebar}}
        <section class="page-wrapper kong-doc">
          <h1>5-minute Quickstart</h1>
          <p>In this section, you’ll learn how to manage your Kong Enterprise Edition (EE)
          instance. First we’ll
          have you start Kong to give you access to the RESTful Admin API, and easy-to-use
          Admin GUI, through which you manage your APIs, consumers, and more. Data sent
          through the Admin API and GUI is stored in Kong’s <a href="https://getkong.org/docs/latest/configuration/#datastore-section">datastore</a>
          (Kong supports PostgreSQL and Cassandra).</p>

          <h3>1. Start Kong EE</h3>
          <p>Issue the following command to prepare your datastore by running the Kong
          migrations:</p>

          <pre><code class="language-bash">$ kong migrations up [-c /path/to/kong.conf]</code></pre>

          <p>You should see a message that tells you Kong has successfully migrated your
          database. If not, you probably incorrectly configured your database
          connection settings in your configuration file.</p>
          <p>Now let’s <a href="https://getkong.org/docs/latest/cli">start</a> Kong:</p>

          <pre><code class="language-bash">$ kong start [-c /path/to/kong.conf]</code></pre>

          <p><strong>Note:</strong> the CLI accepts a configuration option (<code>-c /path/to/kong.conf</code>)
          allowing you to point to your own configuration.</p>

          <h3>2. Verify that Kong EE has started successfully</h3>
          <p>If everything went well, you should see a message (<code>Kong started</code>)
          informing you that Kong is running.</p>
          <p>By default Kong listens on the following ports:</p>

          <ul>
            <li><code>:8000</code> on which Kong listens for incoming HTTP traffic from your
            clients, and forwards it to your upstream services.</li>
            <li><code>:8443</code> on which Kong listens for incoming HTTPS traffic. This port has a
            similar behavior as the <code>:8000</code> port, except that it expects HTTPS
            traffic only. This port can be disabled via the configuration file.</li>
            <li><code>:8001</code> on which the <a href="https://getkong.org/docs/latest/admin-api">Admin API</a> used to configure Kong listens.</li>
            <li><code>:8444</code> on which the <a href="https://getkong.org/docs/latest/admin-api">Admin API</a> listens for HTTPS traffic.</li>
          </ul>

          <h3>3. Stop Kong EE</h3>
          <p>As needed you can stop the Kong process by issuing the following <a href="https://getkong.org/docs/latest/cli">command</a>:</p>

          <pre><code class="language-bash">$ kong stop</code></pre>

          <h3>4. Reload Kong EE</h3>
          <p>Issue the following command to <a href="https://getkong.org/docs/latest/cli">reload</a> Kong without downtime:</p>

          <pre><code class="language-bash">$ kong reload</code></pre>

          <h2>Next Steps</h2>
          <p>Now that you have Kong EE running you can interact with the Admin API.</p>
          <p>To begin, go to <a href="{{config.PORTAL_GUI_URL}}/docs/enterprise/latest/getting-started/adding-your-api">Adding your API ›</a></p>
        </section>
      </div>
    </div>
  {{/inline}}

{{/layout}}
