{{#> layout pageTitle="Kong Vitals"}}

  {{#* inline "content-block"}}
    <div class="app-container">
      <div class="container">
        {{> guides/sidebar}}
        <section class="page-wrapper kong-doc">
          <h1>Kong Vitals</h1>
          <h2>What is Vitals?</h2>
          <p>The Vitals feature in Kong’s Admin API and GUI provides useful metrics about the health and performance of your Kong nodes, as well as metrics about the usage of your Kong-proxied APIs.</p>

          <h2>Requirements</h2>
          <p>Vitals requires PostgreSQL 9.5+ or Cassandra 2.1+.</p>
          <p>Vitals must also be enabled in Kong configuration. See below for details.</p>

          <h2>Enabling and Disabling Vitals</h2>
          <p>Kong Enterprise Edition ships with Vitals turned off. You can change this in your configuration:</p>

          <pre><code class="language-bash"><span class="hljs-comment"># via your Kong configuration file; e.g., kong.conf</span>
          vitals = on  <span class="hljs-comment"># vitals is enabled</span>
          vitals = off <span class="hljs-comment"># vitals is disabled</span>
          </code></pre>

          <pre><code class="language-bash"><span class="hljs-comment"># or via environment variables</span>
          $ <span class="hljs-built_in">export</span> KONG_VITALS=on
          $ <span class="hljs-built_in">export</span> KONG_VITALS=off
          </code></pre>

          <p>As with other Kong configurations, your changes take effect on kong reload or kong restart.</p>

          <h2>Vitals Metrics</h2>
          <p>Below is a list of metrics that Vitals currently collects. More metrics and dimensions will be added over time. To request additional metrics and dimensions, please contact Kong Support.</p>
          <p>All metrics are collected at 1-second intervals and aggregated into 1-minute intervals. The 1-second intervals are retained for one hour. The 1-minute intervals are retained for 25 hours. If you require access to this data for long periods of time, you can use the Vitals API to pull it out of Kong and into the data retention tool of your choice.</p>
          <p>Metrics are tracked for each node in a cluster as well as for the cluster as a whole. In Kong, a node is a running process with a unique identifier, configuration, cache layout, and connections to both Kong’s datastores and the upstream APIs it proxies. Note that node identifiers are unique to the process, and not to the host on which the process runs. In other words, each Kong restart results in a new node, and therefore a new node ID.</p>

          <h3>Request Counts</h3>
          <h4>Total Requests</h4>
          <p>This metric is the count of all API proxy requests received. This includes requests that were rejected due to rate-limiting, failed authentication, etc.</p>

          <h4>Requests Per Consumer</h4>
          <p>This metric is the count of all API proxy requests received from each specific consumer. Consumers are identified by credentials in their requests (e.g., API key, OAuth token, etc) as required by the Kong Auth plugin(s) in use.</p>

          <h3>Latency</h3>
          <p>Note: The Vitals API may return null for Latency metrics - this occurs when no API requests were proxied during the timeframe. Null latencies are not graphed in Kong’s Admin GUI - periods with null latencies will appear as a gap in Vitals charts.</p>

          <h4>Proxy Latency (Request)</h4>
          <p>These metrics are the min, max, and average values for the time, in milliseconds, that the Kong proxy spends processing API proxy requests. This includes time to execute plugins that run in the access phase as well as DNS lookup time. This does not include time spent in Kong’s load balancer, time spent sending the request to the upstream, or time spent on the response.</p>
          <p>Latency is not reported when a request is a prematurely ended by Kong (e.g., bad auth, rate limited, etc.) - note that this differs from the “Total Requests” metric that does count such requests.</p>

          <h4>Upstream Latency</h4>
          <p>These metrics are the min, max, and average values for the time elapsed, in milliseconds, between Kong sending requests upstream and Kong receiving the first bytes of responses from upstream.</p>

          <h3>Datastore Cache</h3>
          <p>Datastore Cache Hit/Miss<br>
          These metrics are the count of requests to Kong’s node-level datastore cache. When Kong workers need configuration information to respond to a given API proxy request, they first check their worker-specific cache (also known as L1 cache), then if the information isn’t available they check the node-wide datastore cache (also known as L2 cache). If neither cache contains the necessary information, Kong requests it from the datastore.</p>
          <p>A “Hit” indicates that an entity was retrieved from the data store cache. A “Miss” indicates that the record had to be fetched from the datastore. Not every API request will result in datastore cache access - some entities will be retrieved from Kong’s worker-specific cache memory.</p>

          <h4>Datastore Cache Hit Ratio</h4>
          <p>This metric contains the ratio of datastore cache hits to the total count of datastore cache requests.</p>

          <blockquote>
            <p>Note: Datastore Cache Hit Ratio cannot be calculated for time indices with no hits and no misses.</p>
          </blockquote>

          <h2>Vitals Data Visualization in Kong Admin GUI</h2>
          <p>Kong’s Admin GUI includes visualization of Vitals data. Additional visualizations, dashboarding of Vitals data alongside data from other systems, etc., can be achieved using the Vitals API to integrate with common monitoring systems.</p>

          <h3>Time Frame Control</h3>
          <p>A time frame selector adjacent to Vitals charts in Kong’s Admin GUI controls the time frame of data visualized, which indirectly controls the granularity of the data. For example, the “Last 5 Minutes” choice will display 1-second resolution data, while longer time frames will show 1-minute resolution data.</p>
          <p>Timestamps on the x-axis of Vitals charts are displayed either in the browser’s local time zone, or in UTC, depending on the UTC option that appears adjacent to Vitals charts.</p>

          <h3>Cluster and Node Data</h3>
          <p>Metrics can be displayed on Vitals charts at both node and cluster level. Controls are available to show cluster-wide metrics and/or node-specific metrics. Clicking on individual nodes will toggle the display of data from those nodes. Nodes can be identified by a unique Kong node identifier, by hostname, or by a combination of the two.</p>

          <h2>Known Issues</h2>
          <p>Vitals data does not appear in the Admin UI or the API<br>
          First, make sure Vitals is enabled. (<code>vitals=on</code> in your Kong configuration).</p>
          <p>Then, check your log files. If you see <code>[vitals] kong_vitals_requests_consumers cache is full</code> or <code>[vitals] error attempting to push to list: no memory</code>, then Vitals is no longer able to track requests because its cache is full.  This condition may resolve itself if traffic to the node subsides long enough for it to work down the cache. Regardless, the node will continue to proxy requests as usual.</p>

          <h3>Limitations in Cassandra 2.x</h3>
          <p>Vitals data is purged regularly: 1-second data is purged after one hour, and 1-minute data is purged after 25 hours. Due to limitations in Cassandra 2.x query options, the counter table vitals_consumers is not purged. If it becomes necessary to prune this table, you will need to do so manually.</p>

        </section>
      </div>
    </div>
  {{/inline}}

{{/layout}}
