{{#> layout pageTitle="Dev Portal - About" }}
{{#*inline "content-block"}}
<div class="app-container">
<div class="page-wrapper indent">
{{#markdown}}
# About
This is a sample page created with markdown and handlebars. You can delete it or modify it to suit your needs.
{{/markdown}}
</div>
</div>
{{/inline}}
{{/layout}}
