{{#> layout pageTitle="Dashboard" }}

  {{#*inline "content-block"}}
    <div class="app-container">
      <div id="portal-dashboard" class="page-wrapper indent" page="dashboard"></div>
    </div>
  {{/inline}}

{{/layout}}
