{{#> layout pageTitle="Dev Portal - Guides"}}

  {{#* inline "content-block"}}
    <div class="app-container">
      <div id="guides" class="container column">
        <section class="hero">
          <div class="row">
            <h1>Guides</h1>
          </div>
        </section>
        <section class="getting-started">
          <div class="row">
            <h2>Getting Started</h2>
          </div>
          <div class="row container guides">
            <div class="column guide">
              <div class="icon">
                <svg width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#FFF" fill-opacity=".1" d="M0 0h32v32H0z"/>
                    <path fill="#ADBFCC" d="M29 9v21c0 1.1045695-.8954305 2-2 2H5c-1.1045695 0-2-.8954305-2-2V2c0-1.1045695.8954305-2 2-2h15l9 9zm-10 1h8l-8-8v8zm-2-8H5v28h22V12H17V2zM8.5 5h6c.2761424 0 .5.22385763.5.5v1c0 .27614237-.2238576.5-.5.5h-6c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5zm0 5h6c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-6c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h11c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-11c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5z"/>
                  </g>
                </svg>
              </div>
              <div class="text">
                <p><strong>Introduction</strong></p>
                <p>Get familiar with Kong EE.</p>
                <a href="/guides/kong-ee-introduction/">Continue Reading &rsaquo;</a>
              </div>
            </div>
            <div class="column guide">
              <div class="icon">
                <svg width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#FFF" fill-opacity=".1" d="M0 0h32v32H0z"/>
                    <path fill="#ADBFCC" d="M29 9v21c0 1.1045695-.8954305 2-2 2H5c-1.1045695 0-2-.8954305-2-2V2c0-1.1045695.8954305-2 2-2h15l9 9zm-10 1h8l-8-8v8zm-2-8H5v28h22V12H17V2zM8.5 5h6c.2761424 0 .5.22385763.5.5v1c0 .27614237-.2238576.5-.5.5h-6c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5zm0 5h6c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-6c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h11c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-11c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5z"/>
                  </g>
                </svg>
              </div>
              <div class="text">
                <p><strong>5-Minutes guide to Kong EE</strong></p>
                <p>Learn the basics of Kong, make your first API Call.</p>
                <a href="/guides/5-minute-quickstart/" >Continue Reading &rsaquo;</a>
              </div>
            </div>
          </div>
          <div class="row">
            <h2>Customization</h2>
          </div>
          <div class="row container guides">
            <div class="column guide">
              <div class="icon">
                <svg width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#FFF" fill-opacity=".1" d="M0 0h32v32H0z"/>
                    <path fill="#ADBFCC" d="M29 9v21c0 1.1045695-.8954305 2-2 2H5c-1.1045695 0-2-.8954305-2-2V2c0-1.1045695.8954305-2 2-2h15l9 9zm-10 1h8l-8-8v8zm-2-8H5v28h22V12H17V2zM8.5 5h6c.2761424 0 .5.22385763.5.5v1c0 .27614237-.2238576.5-.5.5h-6c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5zm0 5h6c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-6c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h11c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-11c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5z"/>
                  </g>
                </svg>
              </div>
              <div class="text">
                <p><strong>Uploading a Specification File</strong></p>
                <p>Upload your first Spec File.</p>
                <a href="/guides/uploading-spec/" >Continue Reading &rsaquo;</a>
              </div>
            </div>
            <div class="column guide"></div>
          </div>
          <div class="row">
            <h2>Guides & References</h2>
          </div>
          <div class="row container guides">
            <div class="column guide">
              <div class="icon">
                <svg width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#FFF" fill-opacity=".1" d="M0 0h32v32H0z"/>
                    <path fill="#ADBFCC" d="M29 9v21c0 1.1045695-.8954305 2-2 2H5c-1.1045695 0-2-.8954305-2-2V2c0-1.1045695.8954305-2 2-2h15l9 9zm-10 1h8l-8-8v8zm-2-8H5v28h22V12H17V2zM8.5 5h6c.2761424 0 .5.22385763.5.5v1c0 .27614237-.2238576.5-.5.5h-6c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5zm0 5h6c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-6c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h11c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-11c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5z"/>
                  </g>
                </svg>
              </div>
              <div class="text">
                <p><strong>Intro to Kong Vitals</strong></p>
                <p>Integrate data from Kong to your favorite monitoring tool.</p>
                <a href="/guides/kong-vitals/" >Continue Reading &rsaquo;</a>
              </div>
            </div>
            <div class="column guide">
              <div class="icon">
                <svg width="32" height="32" viewBox="0 0 32 32">
                  <g fill="none" fill-rule="evenodd">
                    <path fill="#FFF" fill-opacity=".1" d="M0 0h32v32H0z"/>
                    <path fill="#ADBFCC" d="M29 9v21c0 1.1045695-.8954305 2-2 2H5c-1.1045695 0-2-.8954305-2-2V2c0-1.1045695.8954305-2 2-2h15l9 9zm-10 1h8l-8-8v8zm-2-8H5v28h22V12H17V2zM8.5 5h6c.2761424 0 .5.22385763.5.5v1c0 .27614237-.2238576.5-.5.5h-6c-.27614237 0-.5-.22385763-.5-.5v-1c0-.27614237.22385763-.5.5-.5zm0 5h6c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-6c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h15c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-15c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5zm0 5h11c.2761424 0 .5.2238576.5.5v1c0 .2761424-.2238576.5-.5.5h-11c-.27614237 0-.5-.2238576-.5-.5v-1c0-.2761424.22385763-.5.5-.5z"/>
                  </g>
                </svg>
              </div>
              <div class="text">
                <p><strong>Kong Architecture</strong></p>
                <p>Learn the purpose and architecture of Kongs underlying components.</p>
                <a href="/guides/kong-architecture-overview/" >Continue Reading &rsaquo;</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  {{/inline}}
{{/layout}}
