<div class="container">
  <div class="row">
    <div class="six columns">
      <ul style="border: 1px solid #ccc; background: #f1f1f1; padding: 10px; margin: 10px; border-radius: 3px">
        {% for key, value in pairs(context) do %}
          <li>{{key}}: {{value}}</li>
        {% end %}
      </ul>
    </div>
    <div class="six columns">
      <ul style="border: 1px solid #ccc; background: #f1f1f1; padding: 10px; margin: 10px; border-radius: 3px">
        {% for key, value in pairs(page) do %}
          <li>{{key}}: {{value}}</li>
        {% end %}
      </ul>
    </div>
    <div class="six columns">
      <ul style="border: 1px solid #ccc; background: #f1f1f1; padding: 10px; margin: 10px; border-radius: 3px">
        {% for key, value in pairs(kong.config) do %}
          <li>{{key}}: {{value}}</li>
        {% end %}
      </ul>
    </div>
    <div class="six columns">
      <ul style="border: 1px solid #ccc; background: #f1f1f1; padding: 10px; margin: 10px; border-radius: 3px">
        {% for key, value in pairs(kong.workspace) do %}
          <li>{{key}}: {{value}}</li>
        {% end %}
      </ul>
    </div>
  </div>
</div>