<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

{% if site.fonts.base then %}
  <link href="https://fonts.googleapis.com/css?family={{site.fonts.base}}:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
{% end %}
{% if site.fonts.code ~= site.fonts.base then %}
  <link href="https://fonts.googleapis.com/css?family={{site.fonts.code}}:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
{% end %}
{% if site.fonts.headings ~= site.fonts.base then %}
  <link href="https://fonts.googleapis.com/css?family={{site.fonts.headings}}:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
{% end %}

<style>
  /* Values */
  :root {
    {% for k, v in pairs(site.colors) do %}
      --{{k}}: {{v}};
    {% end %}
  }

  /* Utilities */
  {% for k, v in pairs(site.colors) do %}
  .color-{{k}} {
    color: var(--{{k}});
  }

  .bg-{{k}} {
    background-color: var(--{{k}});
  }
  {% end %}

  /* Font Families */
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: "{{site.fonts.base}}";
  }
  pre,code,kbd {
    font-family: inherit;
    font-family: "{{site.fonts.code}}"
  }
  h1, h2, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-family: "{{site.fonts.headings}}"
  }
</style>
