
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <img src="https://cdn.pixabay.com/photo/2016/04/20/07/19/logo-1340524_960_720.png" style="width: 100%">
    <h1 style="color: blue;">{{page.heading}}</h1>
    <p style="font-family: Comic Sans MS;">
      {*page.email_text*}
      {*page.body*}
    </p>

  </body>
  <div style="width: 100%; height:100px; background-color: purple;">
    <h2 style="text-align: center; line-height: 100px; color: green;"> Welcome to the coolest dev-portal there is!</h2>
  <div>
</html>