
{% layout = "layouts/_base.html" %}

{-main-}
  <div class="page auth-page">
    <section class="left-pane">
      <div class="inner">
        <form class="reset-password-form">
          <h3>Reset Password</h3>
          <p>To reset your credentials, enter the email you use to sign in.</p>

          <label for="email">{{page("locale.reset_password_form_email_label")()}}</label>
          <input id="email" type="email" name="email" required />

          <button
            id="reset-button"
            class="button button-primary"
            type="submit">{{page("locale.reset_password_form_button_text")()}}</button>
        </form>

        <p><a href="login">{{page("locale.reset_password_login_link_text")()}}</a></p>
      </div>
    </section>

    <section class="right-pane">
      <div class="inner">
        <img src="assets/images/auth-placeholder.svg" />
        <h4>{*(template.compile(page("locale.reset_password_side_header")())(context))*}</h4>
        <p>{*(template.compile(page("locale.reset_password_side_content")())(context))*}</p>
      </div>
    </section>
  </div>
{-main-}
