
{% layout = "layouts/_base.html" %}

{-main-}
  <div class="page auth-page">
    <section class="left-pane">
      <div class="inner">
        <div id="portal-dashboard" page="reset-password"></div>

        <style>
        .modal-footer {
          padding: 15px 0 0 !important
        }

        .modal-footer button,
        .table-header button {
          padding: 0 30px !important;
        }
        </style>

        <script>
          window.addEventListener("load", function () {
            window.Kong.Utils.getApiUrl = function () {
              return "{*portal():urls():api()()*}"
            }
          })
        </script>

        <script src="assets/js/dashboard-d83a09f.min.js"></script>
      </div>
    </section>

    <section class="right-pane">
      <div class="inner">
        <img src="assets/images/auth-placeholder.svg" />
        <h4>{*(template.compile(page("locale.reset_password_side_header")())(context))*}</h4>
        <p>{*(template.compile(page("locale.reset_password_side_content")())(context))*}</p>
      </div>
    </section>
  </div>
{-main-}
