{% layout = "layouts/_page.html" %}

{-content-}
  <div class="container">
    {% if developer then %}
      {% if developer.status == 0 then %}
        <h1>Account Verified</h1>
        <p>Your account has been verified.</p>
        <a class="button" href="login">Go to Login</a>
      {% else %}
        <h1>Account Verified, Pending Approval</h1>
        <p>Thank you for verifying your email.</p>
        <p>Your account is pending approval. We will email when your account is approved.</p>
        <a class="button" href="">Back to homepage</a>
      {% end %}
    {% else %}
      <h1>Invalid Verification Request</h1>
      <p>The code you used is no longer valid.</p>
      <a class="button" href="resend-verification">Resend Verification Code</a>
    {% end %}
  </div>
{-content-}
