{% layout = "layouts/_page.html" %}

{-content-}
<div class="page dashboard">
  <div id="portal-dashboard" page="verify-account"></div>
</div>

<style>
.modal-footer {
  padding: 15px 0 0 !important
}

.modal-footer button,
.table-header button {
  padding: 0 30px !important;
}
</style>

<script>
  window.addEventListener("load", function () {
    window.Kong.Utils.getApiUrl = function () {
      return "{{portal():urls():api()()}}"
    }
  })
</script>

<script src="{{portal():urls():gui():path()()}}/assets/js/dashboard-d83a09f.min.js"></script>
{-content-}
