{{#> layout pageTitle="404 - Page Not Found" }}

  {{#*inline "content-block"}}
    <div class="app-container error-page column">
      <h1>404</h1>
      <h2>Page not found</h2>
      <p>Sorry. We cannot find the page you were looking for.</p>
      <p>You could reload the page or go to the Homepage.</p>
      <a class="button button-primary" href="{{config.PORTAL_GUI_URL}}/">Go to Homepage</a>
    </div>
  {{/inline}}

{{/layout}}
