{{#> layout pageTitle="Dev Portal - Settings" }}

  {{#*inline "content-block"}}
    <div class="app-container">
      <div id="portal-dashboard" class="page-wrapper indent" page="settings"></div>
    </div>
  {{/inline}}

  {{#*inline "scripts-block"}}
    <script src="/js/dashboard.min.js"></script>
  {{/inline}}

{{/layout}}
