<!DOCTYPE html>
<html>

  {* blocks.page_css *}
  <link href="{{kong.workspace}}/styles/site.css" rel="stylesheet">
  <style>
    :root {
      {% for k, v in pairs(site.colors) do %}
        --{{k}}: {{v}};
      {% end %}
    }
  </style>

  <body>
    {* blocks.header *}
    <div class="page-content">
      <div class="wrapper">
        {* blocks.main *}
      </div>
    </div>
    {* blocks.footer *}
  </body>

  {* blocks.page_js *}
  <script url="{{kong.workspace}}/js/site.js"></script>

</html>
