{{#> unauthenticated/layout pageTitle="DevPortal - Documentation" }}

  {{#*inline "content-block"}}
    <div class="app-container">
      <div class="container">
        {{> unauthenticated/spec/sidebar}} 
        {{> unauthenticated/spec/renderer}}
      </div>
    </div>
  {{/inline}}

{{/unauthenticated/layout}}
