<section class="homepage-catalog">
  <div class="catalog-list">
    <a class="catalog-item">
      <div class="catalog-logo">Ht</div>
      <div class="catalog-details">
        <h5 class="catalog-title">Httpbin API</h5>
        <p class="catalog-desc">A simple HTTP Request & Response Service.</p>
      </div>
    </a>

    <a class="catalog-item">
      <div class="catalog-logo">Pe</div>
      <div class="catalog-details">
        <h5 class="catalog-title">Petstore API</h5>
        <p class="catalog-desc">Default OpenAPI sample specification and server.</p>
      </div>
    </a>
    
    <a class="catalog-item">
        <div class="catalog-logo">Pe</div>
        <div class="catalog-details">
          <h5 class="catalog-title">Petstore API</h5>
          <p class="catalog-desc">Default OpenAPI sample specification and server.</p>
        </div>
      </a>
      
      <a class="catalog-item">
          <div class="catalog-logo">Pe</div>
          <div class="catalog-details">
            <h5 class="catalog-title">Petstore API</h5>
            <p class="catalog-desc">Default OpenAPI sample specification and server.</p>
          </div>
        </a>
  </div>

  <div class="catalog-footer">
    <a href="documentation">View Catalog</a>
  </div>
</section>
