
{{!-- template --}}
<div id="extra-fields">
  <div v-for="(field, i) in fields" :key="i">
    <label :for="field.field_name">${ field.input }</label>
    <input :id="field.field_name"
           :name="field.field_name"
           :type="field.type_of_input"
           :required="field.required" />
  </div>

</div>

{{!-- component --}}
<script>
window.registerApp(function () {
  new window.Vue({
    el: '#extra-fields',
    delimiters: ['${', '}'],

    data () {
      return {
        fields: [],
      }
    },
    methods: {
      getExtraFields: function() {
        window._kong.api.get("/extrafields", { withCredentials: true })
          .then(res => {
            this.fields = res.data['extra-fields']
          })
          .catch(err => {
            console.error('failed to load extra-fields', err);
          })
      }
    },
    mounted () {
      this.getExtraFields()
    }
  })
})
</script>
