
{{!-- template --}}
<div id="extra-fields">
  <div class="wrapper" :class="{ loaded: !loading }">
    <div v-for="(field, i) in fields" :key="i">
      <label :for="field.field_name">${ field.input }</label>
      <input :id="field.field_name"
             :name="field.field_name"
             :type="field.type_of_input"
             :required="field.required" />
    </div>
    <label for="email">Email</label>
    <input id="email" type="text" name="email" required/>
    <div v-if="authType === 'basic-auth'">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required />
    </div>
    <div v-if="authType === 'key-auth'">
        <label for="key">Api Key</label>
        <input id="key" type="text" name="key" required />
    </div>
  </div>
</div>

{{!-- component --}}
<script style="display: none;">
window.registerApp(function () {
  new window.Vue({
    el: '#extra-fields',
    delimiters: ['${', '}'],

    data () {
      return {
        loading: true,
        fields: [{}],
        authType: window._kong.handlebarsRenderer.data.authData.authType
      }
    },
    methods: {
      getExtraFields: function() {
        window._kong.api.get('/developer/meta_fields', { withCredentials: true })
          .then(res => {
            this.fields = window.transformMetaFields(res.data)
            this.loading = false
          })
          .catch(err => {
            console.error('failed to load developer-meta-fields', err);
          })
      }
    },
    mounted () {
      this.getExtraFields()
    }
  })
})
</script>


<style style="display: none;">
  #extra-fields .wrapper {
    display: none;
  }

  #extra-fields .wrapper.loaded {
    display: block;
  }
</style>
