<!-- Responsive sidebar toggle -->
<div class="sidebar-toggle">
  <p>Open Sidebar</p>
</div>

<!-- Sidebar -->
<div id="sidebar">
  <div class="sidebar-menu">
    <div class="sidebar-list">
      <ul>
        <li class="list-title">Getting Started</li>
        <li><a href="/guides">Introduction</a></li>
      </ul>
    </div>
    {{> spec/sidebar-list title="Resources" }}
  </div>
</div>
