{{#> layout pageTitle="User Details" }}

{{#*inline "content-block"}}
<div class="app-container">
  <div class="page-wrapper indent">
    <img style="height: 75px; width: 75px; border-radius: 37px;" src="{{authData.idToken.1.picture}}"/>
    <h1>{{authData.idToken.1.name}}</h1>
    <div for="email"><b>email</b></div>
    <div id="email">{{authData.idToken.1.email}}</div>
  </div>
</div>
{{/inline}}

{{/layout}}
