{{#> layout pageTitle="DevPortal - Documentation" }}

  {{#*inline "content-block"}}
    <div class="app-container">
      <div class="container">
        {{> spec/renderer}}
      </div>
    </div>
  {{/inline}}

{{/layout}}
